<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
    </plugin>



                <!-- loading plugin: mimic joints works in gazebo now -->
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_1">
                <joint>robotiq_85_left_knuckle_joint</joint>
                <mimicJoint>robotiq_85_right_knuckle_joint</mimicJoint>
                <!--multiplier>1.0</multiplier>
                <offset>0.0</offset-->
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_2">
                <joint>robotiq_85_left_knuckle_joint</joint>
                <mimicJoint>robotiq_85_left_inner_knuckle_joint</mimicJoint>
                <!--multiplier>1.0</multiplier>
                <offset>0.0</offset-->
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_3">
                <joint>robotiq_85_left_knuckle_joint</joint>
                <mimicJoint>robotiq_85_right_inner_knuckle_joint</mimicJoint>
                <!--multiplier>1.0</multiplier>
                <offset>0.0</offset-->
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_4">
                <joint>robotiq_85_left_knuckle_joint</joint>
                <mimicJoint>robotiq_85_left_finger_tip_joint</mimicJoint>
                <multiplier>-1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_5">
                <joint>robotiq_85_left_knuckle_joint</joint>
                <mimicJoint>robotiq_85_right_finger_tip_joint</mimicJoint>
                <multiplier>-1.0</multiplier>
                <offset>0.0</offset>
            </plugin>


<!--
    <plugin name="gazebo_ros_power_monitor_controller" filename="libgazebo_ros_power_monitor.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1.0</updateRate>
      <timeout>5</timeout>
      <powerStateTopic>power_state</powerStateTopic>
      <powerStateRate>10.0</powerStateRate>
      <fullChargeCapacity>87.78</fullChargeCapacity>     
      <dischargeRate>-474</dischargeRate>
      <chargeRate>525</chargeRate>
      <dischargeVoltage>15.52</dischargeVoltage>
      <chargeVoltage>16.41</chargeVoltage>
    </plugin>
-->
  </gazebo>

</robot>
