<?xml version="1.0"?>
<launch>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
<!--    <remap from="/joint_states" to="/ur5/joint_states" />   -->
  </node>

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />
  
  <!-- joint_state_controller -->
<!--
  <rosparam file="$(find ur_gazebo)/controller/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn joint_state_controller" />
-->
  <rosparam file="$(find ur10_robotiq_gazebo)/controller/joint_state_controller.yaml" command="load"/>  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/" args="joint_state_controller
			             shoulder_pan_joint_position_controller
                                     shoulder_lift_joint_position_controller
                                     elbow_joint_position_controller
                                     wrist_1_joint_position_controller
                                     wrist_2_joint_position_controller
                                     wrist_3_joint_position_controller
				     robotiq_85_left_knuckle_joint_position_controller
                                     robotiq_85_right_knuckle_joint_position_controller
                                    "/>
</launch>
